.contatiner {
    display: flex;
}
.category-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.todo-section {
    display: flex;
    flex-direction: column;
}
img {
    height:300px
}